<div class="box bike">

<h1>Cositas Caseras: Artesanía, Sazón y Tradición online</h1>

<div>
<p>cositascaseras.com es un punto de encuentro con la tradición, la sazón y el amor que solo lo hecho en casa tiene. Nuestro directorio de productos caseritos incluye una variada oferta gastronómica y artesanal: Tortas, postres, dulces tradicionales, comida orgánica y natural cultivada y preparada por pequeños empresarios. Nuestros productos hechos a mano incluyen bisutería, accesorios, tejidos y otras manualidades.</p>

<p>Esperamos que entre artesanos y personas que disfrutamos y
  valoramos el trabajo hecho a mano recreemos la experiencia de volver
  a las calles, a las ferias, al bazar. Que sea un espacio para los
  negocios pero que además sea un espacio de disfrute y regreso a lo
  tradicional.</p>

<p>Encuentra artesanos de todo Colombia Medellín, Cali, Bogota, Santa Marta, Cartagena, y muchas otras ciudades!</p>

<h3>Categorias</h3>
<ul class="">
  <li>REPOSTERIA (Tortas, postres, cupcakes) </li>
  <li>DULCES (chocolates, arequipe, arroz con leche, velitas, panelitas, galletas, </li>
  <li>ENCURTIDOS Y CONSERVAS </li>
  <li>PANADERIA </li>
  <li>ARTESANIAS (Bisuterias, tejido a mano, accesorios, otras manualidades) </li>
  <li>COMIDAS TIPICAS (mazamorra, tamales, fiambres, empanadas, guarapo) </li>
  <li>LICORES (vinos caseros, chicha) </li>
</ul>
</div>
</div>
